/*global*/
html{
    font-size: 62.5%;
}

body{
    font-family: arial;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
}
p{
    line-height: 1.5;
    font-size: 1.6rem;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.6rem;
    margin: 2rem 0;
}
h3{
    font-size: 2rem;
    margin: 2rem 0;
}




/*header*/
.site-header{
    height: 250px;
    background-color: orange;
  
}
/*menu*/
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.nav-bar a{
    margin-right: 20px; 
    color: black;
}
/*contact*/
.contact-container{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 237, 237);
    margin-right: 200px;
    margin-left: 200px;
}
.form{
    padding: 20px;
    margin-top: 50px;
    border-radius: 7rem;
}
.input-container{
    display: flex;
    margin-bottom: 20px;
}
.input-container label{
    width: 20%;
}
.input-container input, .input-container textarea{
    padding: 5px;
    border: 1px solid gray;
    width: 80%;
}
.input-field{
    border-radius: 2rem;
}
/*footer*/
.site-footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(241, 237, 237);
}